.search form{
  width: 100%;
}
form{
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}
input[type='text'], input[type='password']{
  display: block;
  width: 95%;
  padding: 10px 5px;
}
input[type='submit']{
  display: block;
  padding: 15px 32px;
}
input{
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0.5em;
  font-size: 14px;
}
input.formInvalid::-webkit-input-placeholder {
   color: red;
}
label{
  color: black;
  font-size: 16pt;
}
