form{
  /*background: #e9eaea;*/
  /*border: 1px solid lightgrey;*/
  /*border-radius: 10px;*/
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}
input[type='text']{
  display: block;
  width: 95%;
  padding: 10px 5px;
}
input{
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0.5em;
  font-size: 14px;
  width: 80%;
}
input.formInvalid::-webkit-input-placeholder {
   color: red;
}
