/*Colors http://colorschemedesigner.com/csd-3.5/#3j11T--MJw0w0
Main: #00C9D2 */

html, body{
  margin: 0 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body > div{
  padding: 3%;
}
.menu{
  padding: 0;
  height: 45px;
  background-color: #00C9D2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu div{
  margin-right: 15%;
}
.menu button{
  font-size: 10pt;
  margin: 0 15px;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: Transparent;
  color: white;
}
.menu button:hover{
  background-color: white;
  color: black;
}
.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 10px 0;
}
