/*Colors
http://colorschemedesigner.com/csd-3.5/#3j11T--MJw0w0
Main: #00C9D2 */

.search{
  background: #e9eaea;
  background-image: url('../img/uppsala.jpg');
  background-repeat: no-repeat;
  padding: 10% 0;
  background-size: cover;
}
.search input{
  font-size: 20px;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text{
  display: inline-block;
  font-weight: 100;
  font-size: 54pt;
  letter-spacing: 0.1em;
  color: #00C9D2;
  color: white;
}
.about .container{
  margin: 50px 0;
  text-align: center;
  float:left; width:25%;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.04em;
  color: black;
}
.search .container{
  /*background: #e9eaea;*/
  background-image: url('../img/transparent40.png');
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
}
