/*Colors
http://colorschemedesigner.com/csd-3.5/#3j11T--MJw0w0
Main: #00C9D2 */

.search{
  background: #e9eaea;
  background-image: url('img/uppsala.jpg');
  background-repeat: no-repeat;
  padding: 10% 0;
  background-size: cover;
  /*-webkit-filter: blur(2px);*/
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text{
  display: inline-block;
  font-weight: 100;
  font-size: 4em;
  letter-spacing: 0.1em;
  color: #00C9D2;
  color: white;
}
.what-box{
  margin: 50px 0;
  text-align: center;
}
