.tracking .container{
  margin: 0 auto;
  width: 70%;
}
.tracking h1{
  margin: 20px 25%;
}
#animation-container{
  display: inline-block;
  position: relative;
  height: 400px;
  width: 50%;
  left: 25%;
  background: url('../img/map.png');
  background-size: cover;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}
#dot{
  position: relative;
  animation-name: move;
  animation-duration: 15s;
  left: 10%;
  top: 35%;
  z-index: 1;
}
@keyframes move {
    0%   {left:80%; top:10%;}
    100% {left:10%; top:35%;}
}
