body{
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  margin: 0 0;
}
.menu{
  height: 40px;
  background-color: #005F63;
  display: flex;
  justify-content: space-between;
}
.menu div{
  display: flex;
}
.menu a{
  align-self: flex-end;
  background-color: #009299;
  margin-left: 20px;
  padding: 8px 15px;
  color: white;
  font-weight: 300;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}
.menu a:hover{
  outline: 1px solid white;
}
.menu button{
  padding: 0.6em 1.5em;
  margin: auto 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.logo{
  display: inline-block;
  font-weight: 100;
  font-size: 4em;
  letter-spacing: 0.1em;
  color: #009499;
  margin: 0 10px;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1em 1.5em;
    text-align: center;
    font-size: 14px;
    width: 30%;
}
.main-container form{
  margin: 0 auto;
  width: 60%;
}
input{
  display: block;
  padding: 0.5em;
  font-size: 14px;
  width: 90%;
  margin: 10px 0;
}
label{

}
img{

}
